<!DOCTYPE html>
<html>
  <head>
    <title>Black box</title>
    <meta charset="UTF-8">
    <meta name="author" content="An Viet Pham">
    <meta name="description" content="Searchable Symmetric Encryption Database">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    <link rel = "stylesheet" type = "text/css" href = "/static/css/index.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  
    <!-- Crypto lib -->
    <script src="https://unpkg.com/node-forge@0.7.0/dist/forge.min.js"></script>

    <script src="/static/js/storage.js"></script>
    <script src="/static/js/keygen.js" defer></script>
  </head>

  <body>
    
  </body>
</html>