<!DOCTYPE html>
<html>
  <head>
    <title>Blind box</title>
    <meta charset="UTF-8">
    <meta name="author" content="An Viet Pham">
    <meta name="description" content="Searchable Symmetric Encryption Database">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='/static/img/favicon.ico' />
    <link rel = "stylesheet" type = "text/css" href = "/static/css/signup.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  </head>

  <body>
    <header id="header-menu-bar">
      <a href="/"><img src="/static/img/header-logo.png" alt="header-logo" id="header-logo"/></a>
      <a class="header-button" href="/login">Login</a>
      <a class="header-button" href="/signup">Sign up</a>
      <a class="header-button" href="/how-it-works">How it works</a>
      <a class="header-button" href="/#about">About</a>
    </header>

    <div id="getting-started">
        <br/>
        <div class="body-content">
          <h1>Meet the most secure drive.</h1>
          <h1>Where your content is encrypted, yet searchable.</h1>
          <div class="button-content">
            <a href="/signup">
              Join now
            </a>
          </div>
            
          </h1>
        </div>
      </div>
  </body>
</html>